@import url(/Cesium/Widgets/widgets.css);

#cesiumContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
}

html {
  height: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#results{
    font-family: 'Vollkorn', serif;
    background-image: url('../images/space.png');
    height:100%;
}

#table {
    position:relative;
    top:25%;
    width:100%;
    opacity:0.8;
}

#result_label{
    color:white;
    font-weight: bold;
    font-size: 3em;
    position:fixed;
    top:10%;
    left:5%;
}


#table th{
    background-color:#FDEA66;
    color:#2F4178;
}

#table td {
    text-align:center;
    background-color:#2F4178;
    color:#FDEA66;
}

#lbl_result_end{
    font-size: 2em;
    font-weight: bold;
    color:white;
    position:fixed;
    bottom:40%;
    right:5%;
}

#result_link{
   position:fixed;
   bottom:35%;
   right:5%;
   color:white;
   text-decoration: none;    
}

#result_link:hover{
   text-decoration: line-through;    
}