<div id="requests">
    <label id="title">The World</label><br>
    <label class="caption">Powered by Yelp</label><br>
    <label class="caption">Created by: Matthew Chan</label><br>

  <form action="/search/request" method="get">
    <label id="label_requests">Search City For Businesses...</label><br>
    <input id="requests_box" type="text" name="city" placeholder="City"><br>
    <input id="requests_submit" type="submit">
  </form>
</div>